<!DOCTYPE html>
<html>
<header>
    <meta charset="UTF-8">
    <title>pay</title>
    <link rel="stylesheet" href="http://49.232.24.234:81/static/layui/css/layui.css">
    <style>
        .payBox{
            margin: auto 0;
            text-align: center;
        }
        .orderNO {
            color: red;
        }
        .amount{
            color: red;
        }
        .password{
            color: red;
        }
        .project_name{
            color: red;
            {#font-size: 16px;#}
        }
        .tips{
            color: red;
            font-size: 16px;
        }
    </style>
</header>

<body>

    <div id="app">
        <div class="payBox">
            <button id="search" >查询</button>
            <button id="connect" >连接</button>
            <button id="send_data" >发送0</button>
            <button id="stop" >断开连接</button>
        </div>
        <div style="text-align: center" id="bt_list">

        </div>
    </div>



</body>
<!-- import JavaScript -->
<script type="text/javascript" src="http://49.232.24.234:81/static/js/jquery.min.js"></script>
<script type="text/javascript" src="http://49.232.24.234:81/static/layui/layui.js"></script>
<script>
    let createWebSocket = (function () {
            return function (urlValue) {
                if (window.WebSocket) return new WebSocket(urlValue);
                if (window.MozWebSocket) return new MozWebSocket(urlValue);
                return false;
            }
        })();

    let layer

    let timeout_express = 10
    {#const address = "49.232.24.234:81"#}
    const address = window.location.host
    let order_no = ""
    $(function () {
        layui.use(['layer'], function(){
                layer = layui.layer
            });
    })
    $("#search").click(function (){
        $.ajax({
            url: "/bt/search",
            type:"get",
            success: function (res) {
                if (res.status === 200){
                    $("#bt_list").append(JSON.stringify(res.data))
                }
            }
        })
    })
    let socket1
    $("#connect").click(function () {
        if (socket1){
            layer.msg("请先断开连接")
            return
        }
        socket1 = createWebSocket("ws://"+address+"/ws/bt/connect")
        let send_data = {
            "bt_name": "BT04-A",
            "bt_addr": "B4:4B:0E:04:16:25",
            "code": "10",
        }
        socket1.onopen = () => {
            $(document).ready(() => {
                socket1.send(JSON.stringify(send_data))
            })
        }
        socket1.onmessage = (serverPush) => {
            let data = JSON.parse(serverPush.data)
            if (data.status === 200){
                layer.msg("连接成功")
            }
        }
        socket1.onclose = () =>{
            {#console.log("close")#}
            socket1.close()
            layer.msg("蓝牙已断开")
            socket1 = null
            {#console.log("socket1==",socket1)#}
        }
    })

    $("#send_data").click(function () {
        sock_fun("0")
    })
    $("#stop").click(function () {
        sock_fun(20)
    })

    function sock_fun(order_no){
        let send_data = {
            "code": order_no
        }
        {#console.log(send_data)#}
        socket1.send(JSON.stringify(send_data))
    }
    window.onbeforeunload = function(event) {
        sock_fun(20)
        socket1 = null
        event.returnValue = "关闭连接";
    };

</script>

</html>